<h1>Editing query</h1>

<%= form_for(@query) do |f|  %>

 <div class="field">
    <%= f.label :Service %><br />
	<b><%=h @service.address %></b>
  </div>
  
</br>
   <div class="field">
    <%= f.label :Object %><br />
	<b><%=h @query.object %></b>
  </div>

  
  <%= hidden_field_tag :endpoint, params[:endpoint] %>
  <%= hidden_field(:query, :id)%>
  
    
  <% end %>
  
  </br>
  <h2>
  	Add Modifiers or Associations
  </h2>
 <p>
  <%= radio_button_tag :criterion, "Modifier", false, :onclick => "Element.show('mod'); Element.hide('asc');" %> Modifiers
  <%= radio_button_tag :criterion, "Association", false, :onclick => "Element.show('asc'); Element.hide('mod');" %> Associations
</p> 
<div id="mod" style="display:none;">
<%= render 'form' %>
</div>

<div id="asc" style="display:none;">
<ul><%= render :partial => 'association', :collection => Association.find_all_by_cql_object_id(CqlObject.find_by_objectName(@query.object)) %></ul>
</div>
<%= link_to 'Show', @query %> |
<%= link_to 'Back', queries_path %>
